# OS / Editor files
.DS_Store
Thumbs.db
*.log

# Environment / credentials
.env
.env.local
.env.*.local

# Dependency folders
node_modules/
venv/
__pycache__/
*.pyc

# Build / cache output
dist/
build/
.cache/
out/
*.egg-info/

# IDE project settings
.vscode/
.idea/

# Personal files
AHTP-Assignment4-miniProject.pdf

# statistics
statistics/*.csv
statistics/*.png
statistics/*.txt