services:
  receiver:
    build: .
    image: game-net-api
    networks: [quicnet]
    cap_add: ["NET_ADMIN"]   # allow tc
    command:
      - bash
      - -lc
      - |
        tc qdisc replace dev eth0 root netem \
          delay 170ms 13ms distribution normal \
          loss 13% \
          reorder 0.1% 25%;
        python receiverExample.py ;
        tc qdisc del dev eth0 root || true
    environment:
      - HOST=receiver
      - PORT=4433
    volumes:
      - .:/app

  sender:
    image: game-net-api
    depends_on: [receiver]
    networks: [quicnet]
    stdin_open: true
    tty: true
    command: ["python", "senderExample.py"]
    environment:
      - HOST=receiver
      - PORT=4433
    volumes:
      - .:/app

  # Interactive REPL client with shaping (latency/loss/jitter/bw)
  sender-slow:
    image: game-net-api
    depends_on: [receiver]
    networks: [quicnet]
    stdin_open: true
    tty: true
    cap_add: ["NET_ADMIN"]   # allow tc
    command:
      - bash
      - -lc
      - |
        tc qdisc replace dev eth0 root netem \
          delay 170ms 13ms distribution normal \
          loss 13% \
          reorder 0.1% 25%;
        python senderExample.py ;
        tc qdisc del dev eth0 root || true
    environment:
      - HOST=receiver
      - PORT=4433
    volumes:
      - .:/app

networks:
  quicnet:
    driver: bridge
